version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/docker-zookeeper"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/backup-daemon"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "/monitoring"
    schedule:
      interval: "weekly"
