name: Run Zookeeper Pipeline

permissions:
  contents: read
  packages: read
  actions: read

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [main]


jobs:
  Wait-for-images:
    if: ! github.event.repository.fork
    runs-on: ubuntu-latest
    outputs:
      conclusion: ${{ steps.wait.outputs.conclusion }}
    steps:
      - name: Wait for dev_build.yml to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@396774180000abdb825cbf150b56cc59c6913db8  #v2.0.5
        id: wait
        with:
          workflow: dev_build.yml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
  Zookeeper-Pipeline:
    if: ! github.event.repository.fork
    needs: Wait-for-images
    uses: Netcracker/qubership-test-pipelines/.github/workflows/zookeeper.yaml@d035050ec322700c3df9a7ec62efc0220abe4243  #v1.1.0
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      versions_file: '.github/versions.yaml'
      pipeline_branch: 'd035050ec322700c3df9a7ec62efc0220abe4243' #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
