name: Run Zookeeper Pipeline

on:
  push
#  pull_request:
#    types: [opened, synchronize, reopened]
#    branches: [main]


jobs:
  Zookeeper-Pipeline:
    uses: Netcracker/qubership-test-pipelines/.github/workflows/zookeeper.yaml@fix/verify_several_args
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      versions_file: '.github/versions.yaml'
      pipeline_branch: 'fix/verify_several_args' #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
