name: Run Zookeeper Pipeline

permissions:
  contents: read
  packages: read
  actions: read

on:
  push
#  pull_request:
#    types: [opened, synchronize, reopened]
#    branches: [main]

jobs:
  Wait-for-images:
    runs-on: ubuntu-latest
    outputs:
      conclusion: ${{ steps.wait.outputs.conclusion }}
    steps:
      - name: Wait for dev_build.yml to complete
        uses: netcracker/qubership-workflow-hub/actions/wait-for-workflow@396774180000abdb825cbf150b56cc59c6913db8  #v2.0.5
        id: wait
        with:
          workflow: dev_build.yml
          token: ${{ secrets.GITHUB_TOKEN }}
          poll-interval: 20
  Zookeeper-Pipeline:
    needs: Wait-for-images
    #uses: Netcracker/qubership-test-pipelines/.github/workflows/zookeeper.yaml@81a445840dde346a27ce09955779af4894bb0a14 #v1.2.0
    uses: Netcracker/qubership-test-pipelines/.github/workflows/zookeeper.yaml@feat/get_service_tag
    with:
      service_branch: '${{ github.head_ref || github.ref_name }}'
      #pipeline_branch: '81a445840dde346a27ce09955779af4894bb0a14' #this value must match the value after '@' in 'uses'
      pipeline_branch: 'feat/get_service_tag' #this value must match the value after '@' in 'uses'
    secrets:
      AWS_S3_ACCESS_KEY_ID: ${{secrets.AWS_S3_ACCESS_KEY_ID}}
      AWS_S3_ACCESS_KEY_SECRET: ${{secrets.AWS_S3_ACCESS_KEY_SECRET}}
